<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>All National Parks</title>
        <link rel="stylesheet" href="/css/main.css" />
    </head>

    <body>
        <h1>All National Parks</h1>
        <p>
            <a href="/parks/new">
                add a new national park
            </a>
        </p>
        <ul>
            <li th:each="park : ${parks}">
                <p th:text = "${park.name}" />
                <p th:text = "${park.location}" />
                <p th:text = "${park.area}" />
                <a th:href="'/parks/' + ${park.id} + '/edit'">edit</a>
            </li>
        </ul>
    </body>
</html>